p {
  color: #666666;
  font-family:'Livvic', Helvetica, serif;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
}

h1 {
  font-family: 'Chilanka', Helvetica, sans-serif;
  text-align: center;
  font-weight: 400;
  top: auto;
  color: maroon;
}

h2 {
  font-family: 'Merriweather', Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.8em;
}

body {
  background-color: white;
}

#nav {
  padding-left: 30px;
  font-family: 'Livvic', Helvetica, sans-serif;
  color: #666666;
  list-style-type: none;
}

#nav_li {
  color: #666666;
  font-family: 'Livvic', Helvetica, sans-serif;
  border-bottom: none;
  text-align: left;
  margin: auto;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: maroon;
    background-color: #FFC865;
    font-weight: 400;
    text-align:left;
    text-decoration: none;
    padding: 4px;
    font-family: "Livvic", Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: lightgrey;
}

.caption {
  font-family: 'Livvic', Helvetica, sans-serif;
  color: black;
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

#footer {
  color: maroon;
  font-family: 'Chilanka', Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid black;
  margin-top: 5px;
  background-color: white;
}

#img {
  border: none;
  text-align: center;
}

#div {
  background-color: #FFF5D5;
  width: 50%;
  height: 50%;
  padding: inherit;
  border: 3px solid gray;
  margin: auto;
  margin-top: 50px;
  display: block;
}

#old {
  text-align: right;
  padding-right: 10px;
}

.container {
	display: flex;
	flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
	.container {
		flex-direction: row;
		justify-content: center;
  }

  .graphics {
    grid-template-columns: auto;
  }
}

@media (min-width: 800px) {

	.item {
		margin: auto;
	}

.graphics {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
  "a b"
  "c d";
}

#one {
  grid-area: a;
}

#two {
  grid-area: b;
}

#three {
  grid-area: c;
}

#four {
grid-area: d;
}
}
